.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10vh;
  transition: background-image 1s ease-in-out;
}

.roomFade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: opacity 0.20s;
  pointer-events: none;
  z-index: 1;
}

.longFade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: opacity 4s;
  pointer-events: none;
}




